<footer>
    <div class="footer-content">
        <div class="footer-left">
            <span>© 2025 WanderLust, Inc.</span>
            <span>·</span>
            <span>Privacy</span>
            <span>·</span>
            <span>Terms</span>
            <span>·</span>
            <span>Sitemap</span>
        </div>
        <div class="footer-right">
            <a href="#">English (AU)</a>
            <span>$ AUD</span>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>

            </div>
        </div>
    </div>
</footer>