<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb custom-icon"></i></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/listings">Home</a>
              <a class="nav-link" href="/listings/new">Add Listing</a>
          </div>

          <!-- User Icon -->
          <div class="ms-auto d-flex align-items-center">
              <% if (!currUser) { %>
                  <!-- Less Bright Icon (Not Logged In) - Redirects to /user/login -->
                  <a href="/user/login" class="nav-link">
                    <i class="fas fa-user-circle text-dark fs-3"></i>
                  </a>
              <% } else { %>
                   <!-- Bright Icon (Logged In) - Redirects to /user/logout -->
                   <a href="/user/logout" class="nav-link">
                    <i class="fas fa-user-circle text-success fs-3"></i>
                </a>
              <% } %>
          </div>
      </div>
  </div>
</nav>
