<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <!-- //our local css file -->
    <link rel="stylesheet" href="style/style.css">
    
</head>
<body>
    
<h1>This is from BolerPlate.ejs</h1>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>