<!-- //boilerplate ejs file. -->
<% layout("/layouts/boilerplate")%>

<body>
<h1>Create new Listing</h1>
    
<form method="POST" action="/listings">
    <input type="text" name="listing[title]" placeholder="enter title">
    <br>
    <br>
    <textarea type="text" name="listing[description]" ></textarea>
    <br>
    <br>
    <input type="number" name="listing[price]" >
    <br>
    <br>
    <input type="text" name="listing[location]">
    <br>
    <br>
    <input type="text" name="listing[country]">
    <br>
    <br>
    <button type="submit">Create </button>
</form>
</body>
